.projects {
  background-color: rgb(24, 23, 23);
  width: calc(100vw - 60px);
}
.content {
  padding: 0 0 100px 6%;
}
.projects h1 {
  color: #fff;
  font-size: 40px;
}
.projectsCardContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}
