.home {
  color: #fff;
  width: calc(100vw - 60px);
  max-height: 80rem;
  height: 100vh;
  margin-bottom: 2rem;
}
.content {
  padding: 200px 0 100px 6%;
}
.content p {
  font-size: 30px;
  margin-bottom: 40px;
}
.content::after {
  content: "";
  width: 62%;
  height: 1.5px;
  background-color: #fff;
  position: absolute;
  right: 35vw;
  top: 20%;
}
.content h1 {
  font-size: 80px;
}
@media screen and (max-width: 690px) {
  .content h1 {
    font-size: 60px;
  }
  .content p {
    font-size: 26px;
  }
}
@media screen and (max-width: 515px) {
  .content h1 {
    font-size: 50px;
  }
  .content p {
    font-size: 20px;
  }
}
